html, body {
    background-color: blue;
    margin: 0;
    padding: 0;
    border: 0;
}

canvas {
    display: block;
}

.username-container {
    position: relative;
}

form {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}